# anvil account 0
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# default local rpc url
RPC_URL="http://localhost:8545"

# contract address
ASTRIA_WITHDRAWER=0x5FbDB2315678afecb367f032d93F642f64180aa3

# destination chain address to withdraw to on the sequencer
SEQUENCER_DESTINATION_CHAIN_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# destination chain address to withdraw to on the origin chain
ORIGIN_DESTINATION_CHAIN_ADDRESS="astring"

# amount to withdraw
AMOUNT=1000000000000000000
