apiVersion: v1
kind: ConfigMap
metadata:
  name: celestia-env
  namespace: default
data:
  coins: "1000000000000000utia"
  validator_stake: "5000000000utia"
  chainid: "test"
  keyring_backend: "test"
  validator_key_name: "validator"
  # evm address corresponds to private key:
  # da6ed55cb2894ac2c9c10209c09de8e8b9d109b910338d5bf3d747a7e1fc9eb9
  evm_address: "0x966e6f22781EF6a6A82BBB4DB3df8E225DfD9488"
  home_dir: "/home/celestia"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metro-env
  namespace: default
data:
  coins: "1000000000000000utick"
  validator_stake: "5000000000utick"
  chainid: "private"
  keyring_backend: "test"
  validator_key_name: "validator"
  # evm address corresponds to private key:
  # da6ed55cb2894ac2c9c10209c09de8e8b9d109b910338d5bf3d747a7e1fc9eb9
  evm_address: "0x966e6f22781EF6a6A82BBB4DB3df8E225DfD9488"
  home_dir: "/home/metro"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: geth-env
  namespace: default
data:
  executor_local_account: "{{ executor_local_account }}"
  home_dir: "/home/geth"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: relayer-env
  namespace: default
data:
  home_dir: "/home/relayer"
---
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2023-04-25T15:20:49Z"
  name: {{ pod_name }}
spec:
  initContainers:
    - command:
      - /scripts/init-celestia-appd-podman.sh
      name: init-celestia-app
      image: "ghcr.io/astriaorg/celestia-app:v0.11.0"
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/celestia
          name: {{ celestia_home_volume }}
      envFrom:
        - configMapRef:
            name: celestia-env
    - command:
      - /scripts/init-bridge-podman.sh
      name: init-bridge
      image: "ghcr.io/astriaorg/celestia-node:test-sha-07fa3e7"
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/celestia
          name: {{ celestia_home_volume }}
      env:
        - name: bridge_host_port
          value: {{ bridge_host_port }}
        - name: celestia_app_host_port
          value: {{ celestia_app_host_port }}
        - name: home_dir
          valueFrom:
            configMapKeyRef:
              name: celestia-env
              key: home_dir
    - command:
      - /scripts/init-metro-podman.sh
      name: init-metro
      image: "ghcr.io/astriaorg/metro:0.0.3"
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/metro
          name: {{ metro_home_volume }}
      envFrom:
        - configMapRef:
            name: metro-env
    - command:
      - /scripts/configure-geth-podman.sh
      name: configure-geth
      image: ghcr.io/astriaorg/go-ethereum:0.0.3
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/geth
          name: {{ executor_home_volume }}
      envFrom:
        - configMapRef:
            name: geth-env
    - command:
      - /scripts/init-geth-podman.sh
      name: init-geth
      image: ghcr.io/astriaorg/go-ethereum:0.0.3
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/geth
          name: {{ executor_home_volume }}
      envFrom:
        - configMapRef:
            name: geth-env
    - command:
      - /scripts/configure-metro-podman.sh
      name: configure-metro
      image: ghcr.io/tomwright/dasel:alpine
      env:
        - name: home_dir
          valueFrom:
            configMapKeyRef:
              name: metro-env
              key: home_dir
        - name: sequencer_host_port
          value: {{ sequencer_host_port }}
        - name: sequencer_host_grpc_port
          value: {{ sequencer_host_grpc_port }}
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/metro
          name: {{ metro_home_volume }}
  containers:
    - name: celestia-app
      command: ["/scripts/start-celestia-appd-podman.sh"]
      image: "ghcr.io/astriaorg/celestia-app:v0.11.0"
      envFrom:
        - configMapRef:
            name: celestia-env
      env:
        - name: celestia_app_host_port
          value: {{ celestia_app_host_port }}
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/celestia
          name: {{ celestia_home_volume }}
      ports:
        - containerPort: {{ celestia_app_host_port }}
          hostPort: {{ celestia_app_host_port }}
    - name: celestia-bridge
      command:
      - /scripts/start-bridge-podman.sh
      image: "ghcr.io/astriaorg/celestia-node:test-sha-07fa3e7"
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/celestia
          name: {{ celestia_home_volume }}
      envFrom:
        - configMapRef:
            name: celestia-env
      env:
        - name: celestia_app_host_port
          value: {{ celestia_app_host_port }}
      ports:
        - containerPort: {{ bridge_host_port }}
          hostPort: {{ bridge_host_port }}
    - name: metro-sequencer
      command: ["/scripts/start-metro-podman.sh"]
      image: "ghcr.io/astriaorg/metro:0.0.3"
      ports:
        - containerPort: {{ sequencer_host_port }}
          hostPort: {{ sequencer_host_port }}
        - containerPort: {{ sequencer_host_grpc_port }}
          hostPort: {{ sequencer_host_grpc_port }}
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
        - mountPath: /home/metro
          name: {{ metro_home_volume }}
      envFrom:
        - configMapRef:
            name: metro-env
    - name: relayer
      image: "ghcr.io/astriaorg/sequencer-relayer:latest"
      command: ["/usr/local/bin/relayer"]
      args:
        - "--sequencer-endpoint=http://localhost:{{ sequencer_host_port }}"
        - "--celestia-endpoint=http://localhost:{{ bridge_host_port }}"
        - "--validator-key-file=/root/.metro/config/priv_validator_key.json"
      volumeMounts:
        - mountPath: /home/relayer
          name: {{ relayer_home_volume }}
        - mountPath: /root/.metro
          name: {{ metro_home_volume }}
          readOnly: true
    - name: geth-executor
      command: ["/scripts/start-geth-podman.sh"]
      image: "ghcr.io/astriaorg/go-ethereum:0.0.3"
      volumeMounts:
        - mountPath: /scripts/
          name: scripts-volume
          readOnly: true
        - mountPath: /home/geth
          name: {{ executor_home_volume }}
        - mountPath: /root/.metro
          name: {{ metro_home_volume }}
          readOnly: true
      envFrom:
        - configMapRef:
            name: geth-env
      env:
        - name: sequencer_host_grpc_port
          value: {{ sequencer_host_grpc_port }}
        - name: executor_host_http_port
          value: {{ executor_host_http_port }}
        - name: executor_host_grpc_port
          value: {{ executor_host_grpc_port }}
      ports:
        - containerPort: {{ executor_host_http_port }}
          hostPort: {{ executor_host_http_port }}
        - containerPort: {{ executor_host_grpc_port }}
          hostPort: {{ executor_host_grpc_port }}
  hostname: test_sequencer_relayer
  restartPolicy: OnFailure
  volumes:
  - hostPath:
      path: {{ scripts_host_volume }}
      readOnly: true
      type: Directory
    name: scripts-volume
  - emptyDir: {}
    name: {{ celestia_home_volume }}
  - emptyDir: {}
    name: {{ metro_home_volume }}
  - emptyDir: {}
    name: {{ executor_home_volume }}
  - emptyDir: {}
    name: {{ relayer_home_volume }}

status: {}
