target/

# dotenv
.env

# jetbrains
.idea
# direnv
.envrc

# mac os
.DS_Store

# We don't want to commit the dependency directory of charts
charts/*/charts

# directory used for testing. holds binaries, logs, etc.
testing/tmp
