[submodule "crates/astria-bridge-withdrawer/ethereum/lib/forge-std"]
	path = crates/astria-bridge-withdrawer/ethereum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crates/astria-bridge-withdrawer/ethereum/lib/openzeppelin-contracts"]
	path = crates/astria-bridge-withdrawer/ethereum/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
