crates/astria-core/src/generated/** linguist-generated=true
crates/astria-settlor/src/withdrawer/ethereum/generated/** linguist-generated=true
crates/astria-settlor/ethereum/out/** linguist-generated=true
specs/** linguist-documentation=true
