[workspace]

members = [
  "crates/astria-conductor",
  "crates/astria-conductor-test",
  "crates/astria-execution-apis-rpc",
  "crates/astria-gossipnet",
  "crates/astria-rs-cnc",
  "crates/astria-sequencer",
  "crates/astria-sequencer-relayer",
  "crates/astria-sequencer-relayer-proto",
  "crates/astria-sequencer-relayer-test",
]
