[workspace]
members = [
  "crates/astria-celestia-jsonrpc-client",
  "crates/astria-composer",
  "crates/astria-conductor",
  "crates/astria-gossipnet",
  "crates/astria-proto",
  "crates/astria-sequencer",
  "crates/astria-sequencer-client",
  "crates/astria-sequencer-relayer",
  "crates/astria-sequencer-validation",
  "crates/astria-sequencer-types",
  "crates/astria-sequencer-utils",
  "crates/astria-test-utils",
]
resolver = "2"

[workspace.dependencies]
async-trait = "0.1.52"
axum = "0.6.16"
backon = "0.4.1"
base64 = "0.21"
borsh = "0.10.3"
bytes = "1.4"
clap = "4"
color-eyre = "0.6"
ed25519-consensus = "2.1.0"
eyre = "0.6"
figment = "0.10.8"
futures = "0.3"
hex = "0.4"
humantime = "2.1.0"
hyper = "0.14"
is-terminal = "0.4"
jsonrpsee = { version = "0.19" }
# marking k8s as using k8s 1.26 here to make it clear that we are targetting 1.26
# in the tests
k8s-openapi = { version = "0.18.0", features = ["v1_26"] }
# disabling default features and enablinbg rustls to ensure openssl is not linked anywhere;
# similar as for reqwest
kube = { version = "0.82.2", default-features = false, features = [
  "rustls-tls",
] }
minijinja = "0.32.1"
multiaddr = "0.17"
once_cell = "1.17.1"
sha2 = "0.10"
serde = "1"
serde_json = "1"
serde_yaml = "0.9"
prost = "0.11"
prost-types = "0.11"
rand = "0.8.5"
# disable default features and explicitly enable rustls-tls to ensure openssl is disabled
# in the entire workspace
reqwest = { version = "0.11", default-features = false, features = [
  "rustls-tls",
] }
tempfile = "3.6.0"
tendermint = "0.32"
tendermint-config = "0.32"
tendermint-proto = "0.32"
tendermint-rpc = "0.32"
tokio = "1.28"
tonic = "0.9"
tracing = "0.1"
tracing-subscriber = "0.3"
uuid = "1.3.1"
which = "4.4.0"
wiremock = "0.5"

[patch.crates-io]
# fix for astria-sequencer-client 
# https://github.com/informalsystems/tendermint-rs/compare/v0.32.0...astriaorg:tendermint-rs:noot/v0.32.0-fix?expand=1
# this has been merged into main: https://github.com/informalsystems/tendermint-rs/commit/9854a66205cdbea720f016061a9d427bd8162b12
# however main also contains changes for tendermint v0.38, which removes BeginBlock/EndBlock/DeliverTx,
# and has not yet been tagged as a release yet
tendermint = { git = "https://github.com/astriaorg/tendermint-rs.git", rev = "a816d6363780c2ed0c3288e6b6e01adee71cf1a5" }
tendermint-config = { git = "https://github.com/astriaorg/tendermint-rs.git", rev = "a816d6363780c2ed0c3288e6b6e01adee71cf1a5" }
tendermint-proto = { git = "https://github.com/astriaorg/tendermint-rs.git", rev = "a816d6363780c2ed0c3288e6b6e01adee71cf1a5" }
tendermint-rpc = { git = "https://github.com/astriaorg/tendermint-rs.git", rev = "a816d6363780c2ed0c3288e6b6e01adee71cf1a5" }

ct-merkle = { git = "https://github.com/astriaorg/ct-merkle.git", rev = "1fa258fc7e62dd8a97d2f368977d4123b55a8b2e" }
