/.github/  @astriaorg/infra
/containerfiles/  @astriaorg/infra
/charts/  @astriaorg/infra
/dev/  @astriaorg/infra
.dockerignore  @astriaorg/infra

*.rs  @astriaorg/rust-reviewers
Cargo.toml  @astriaorg/rust-reviewers
Cargo.lock  @astriaorg/rust-reviewers
rust-toolchain  @astriaorg/rust-reviewers
.cargo/  @astriaorg/rust-reviewers
nextest.toml  @astriaorg/rust-reviewers
rusfmt.toml  @astriaorg/rust-reviewers

*.proto @astriaorg/api-reviewers
buf.lock @astriaorg/api-reviewers
buf.yaml @astriaorg/api-reviewers
buf.work.yaml @astriaorg/api-reviewers

specs/  @astriaorg/engineering
justfile  @astriaorg/engineering

* @joroshiba @SuperFluffy @noot
