* @joroshiba @astriaorg/rust-reviewers

specs/ @astriaorg/engineering
justfile @astriaorg/engineering
README.md @astriaorg/engineering
taplo.toml @astriaorg/engineering
.gitattributes @astriaorg/engineering
.gitignore @astriaorg/engineering

/.github/ @astriaorg/infra
/.github/workflows/lint.yml @astriaorg/rust-reviewers
/.github/workflows/test.yml @astriaorg/rust-reviewers
/containerfiles/ @astriaorg/rust-reviewers
/charts/ @astriaorg/infra
/dev/ @astriaorg/infra
.dockerignore @astriaorg/infra
*.env.example @astriaorg/infra

*.proto @astriaorg/api-reviewers
proto/*/LICENSE @astriaorg/api-reviewers
buf.lock @astriaorg/api-reviewers
buf.yaml @astriaorg/api-reviewers
buf.work.yaml @astriaorg/api-reviewers
