[package]
name = "astria-sequencer-utils"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.81.0"
readme = "README.md"
repository = "https://github.com/astriaorg/astria"
homepage = "https://astria.org"

[dependencies]
base64 = { workspace = true }
clap = { workspace = true, features = [
  "cargo",
  "deprecated",
  "derive",
  "wrap_help",
] }
colour = "2.1.0"
ethers-core = "2.0.14"
hex = { workspace = true }
indenter = "0.3.3"
itertools = { workspace = true }
prost = { workspace = true }
rlp = "0.5.2"
serde = { workspace = true }
serde_json = { workspace = true }

astria-core = { path = "../astria-core", features = ["brotli", "serde"] }
astria-eyre = { path = "../astria-eyre" }
astria-merkle = { path = "../astria-merkle" }

[dev-dependencies]
assert_cmd = "2.0.14"
predicates = "3.1.0"
