[package]
name = "astria-sequencer"
version = "0.7.0"
edition = "2021"
rust-version = "1.73.0"

[dependencies]
"astria-core" = { path = "../astria-core" }
config = { package = "astria-config", path = "../astria-config" }
merkle = { package = "astria-merkle", path = "../astria-merkle" }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry" }
sequencer_types = { package = "astria-sequencer-types", path = "../astria-sequencer-types" }

anyhow = "1"
borsh = "0.10.3"
matchit = "0.7.2"
tower = "0.4"
tower-abci = "0.11.0"
tower-actor = "0.1.0"
cnidarium = { git = "https://github.com/penumbra-zone/penumbra.git", rev = "1a1e66c86f39de0a3e40b3e2c491da0d9cc56314" }
cnidarium-component = { git = "https://github.com/penumbra-zone/penumbra.git", rev = "1a1e66c86f39de0a3e40b3e2c491da0d9cc56314" }
wrapper-derive = { git = "https://github.com/penumbra-zone/penumbra.git", rev = "1a1e66c86f39de0a3e40b3e2c491da0d9cc56314" }

async-trait = { workspace = true }
bytes = { workspace = true }
ed25519-consensus = { workspace = true }
futures = { workspace = true }
hex = { workspace = true, features = ["serde"] }
ibc-types = { workspace = true, features = ["with_serde"] }
penumbra-ibc = { workspace = true, features = ["component"] }
penumbra-proto = { workspace = true }
penumbra-tower-trace = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
tendermint-proto = { workspace = true }
tendermint = { workspace = true }
tokio = { workspace = true, features = ["rt", "tracing"] }
tracing = { workspace = true }

[dev-dependencies]
config = { package = "astria-config", path = "../astria-config", features = [
  "tests",
] }

[features]
default = []
mint = []
