[package]
name = "astria-sequencer"
version = "0.1.0"
edition = "2021"

[dependencies]
astria-proto = {path = "../astria-proto"}

anyhow = "1"
borsh = "0.10.3"
is-terminal = "0.4.7"
# commit builds off v0.54.1
penumbra-storage = { git = "https://github.com/penumbra-zone/penumbra.git", rev = "d8d5cd0b00876380147d7ddc7f3005178e3d9ae0" }
penumbra-tower-trace = { git = "https://github.com/penumbra-zone/penumbra.git", rev = "d8d5cd0b00876380147d7ddc7f3005178e3d9ae0" }
tower = "0.4"
tower-abci = "0.8.0"
tower-actor = "0.1.0"

async-trait = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true, features = ["derive"] }
ed25519-dalek = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
prost = { workspace = true }
serde = { workspace = true, features = ["derive"]  }
serde_json = { workspace = true }
sha2 = { workspace = true }
tendermint-proto = { workspace = true }
tendermint = { workspace = true }
tokio = { workspace = true, features = [ "rt", "tracing" ] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
