[package]
name = "astria-sequencer"
version = "1.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.81.0"
readme = "README.md"
repository = "https://github.com/astriaorg/astria"
homepage = "https://astria.org"

[features]
benchmark = ["divan"]

[dependencies]
astria-core = { path = "../astria-core", features = [
  "server",
  "serde",
  "unchecked-constructors",
] }
astria-build-info = { path = "../astria-build-info", features = ["runtime"] }

# The "anyhow" feature is only included because it is necessary for the implementation of
# `penumbra_ibc::component::HostInterface` in `crates/astria-sequencer/src/ibc/host_interface.rs`.
# Avoid using "anyhow" results anywhere else.
astria-eyre = { path = "../astria-eyre", features = ["anyhow"] }

config = { package = "astria-config", path = "../astria-config" }
merkle = { package = "astria-merkle", path = "../astria-merkle", features = [
  "unchecked-constructors",
] }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry", features = [
  "display",
] }

anyhow = "1.0.89"
borsh = { version = "1.5.1", features = ["bytes", "derive"] }
cnidarium = { git = "https://github.com/penumbra-zone/penumbra.git", tag = "v0.80.7", features = [
  "metrics",
] }
ibc-proto = { version = "0.41.0", features = ["server"] }
matchit = "0.7.2"
quick_cache = "0.6.9"
tower = "0.4"
tower-abci = "0.12.0"
tower-actor = "0.1.0"
tower-http = { version = "0.4", features = ["cors"] }

async-trait = { workspace = true }
base64 = { workspace = true }
bytes = { workspace = true }
divan = { workspace = true, optional = true }
futures = { workspace = true }
hex = { workspace = true, features = ["serde"] }
ibc-types = { workspace = true, features = ["with_serde"] }
penumbra-ibc = { workspace = true, features = ["component", "rpc"] }
penumbra-proto = { workspace = true }
penumbra-tower-trace = { workspace = true }
pin-project-lite = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
tempfile = { workspace = true, optional = true }
tendermint-proto = { workspace = true }
tendermint = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt", "tracing"] }
tokio-stream = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
astria-core = { path = "../astria-core", features = [
  "server",
  "serde",
  "test-utils",
] }
config = { package = "astria-config", path = "../astria-config", features = [
  "tests",
] }
insta = { workspace = true, features = ["json"] }
paste = "1.0.15"
maplit = "1.0.2"
rand_chacha = "0.3.1"
tempfile = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[build-dependencies]
astria-build-info = { path = "../astria-build-info", features = ["build"] }

[[bench]]
name = "benchmark"
harness = false
required-features = ["benchmark"]
