[package]
name = "astria-sequencer"
version = "3.0.0-rc.1"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.83.0"
readme = "README.md"
repository = "https://github.com/astriaorg/astria"
homepage = "https://astria.org"

[features]
benchmark = ["divan"]

[dependencies]
astria-core = { path = "../astria-core", features = [
  "server",
  "client",
  "serde",
  "unchecked-constructors",
] }
astria-build-info = { path = "../astria-build-info", features = ["runtime"] }

# The "anyhow" feature is only included because it is necessary for the implementation of
# `penumbra_ibc::component::HostInterface` in `crates/astria-sequencer/src/ibc/host_interface.rs`.
# Avoid using "anyhow" results anywhere else.
astria-eyre = { path = "../astria-eyre", features = ["anyhow"] }

config = { package = "astria-config", path = "../astria-config" }
merkle = { package = "astria-merkle", path = "../astria-merkle", features = [
  "unchecked-constructors",
] }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry", features = [
  "display",
] }

cnidarium = { version = "0.83.0", features = ["metrics"] }
ibc-proto = { version = "0.51.1", features = ["server"] }
matchit = "0.7.2"
penumbra-tower-trace = { package = "penumbra-sdk-tower-trace", version = "1.4.0" }
tower = { workspace = true }
tower-abci = "0.19.0"
tower-actor = "0.1.0"
tower-http = { workspace = true, features = ["cors"] }
url = "2.5.4"

async-trait = { workspace = true }
base64 = { workspace = true }
borsh = { workspace = true, features = ["bytes", "derive"] }
bytes = { workspace = true }
divan = { workspace = true, optional = true }
futures = { workspace = true }
hex = { workspace = true, features = ["serde"] }
ibc-types = { workspace = true, features = ["with_serde"] }
indexmap = { workspace = true }
itertools = { workspace = true }
penumbra-ibc = { workspace = true, features = ["component", "rpc"] }
penumbra-proto = { workspace = true }
pin-project-lite = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
tendermint-proto = { workspace = true }
tendermint = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt", "tracing"] }
tokio-util = { workspace = true, features = ["rt"] }
tonic = { workspace = true }
tracing = { workspace = true }
tryhard = { workspace = true }

[dev-dependencies]
astria-core = { path = "../astria-core", features = [
  "server",
  "serde",
  "test-utils",
] }
config = { package = "astria-config", path = "../astria-config", features = [
  "tests",
] }
insta = { workspace = true, features = ["json"] }
maplit = "1.0.2"
pbjson-types = { workspace = true }
rand_chacha = "0.3.1"
tokio = { workspace = true, features = ["test-util"] }
assert-json-diff = "2.0.2"

[build-dependencies]
astria-build-info = { path = "../astria-build-info", features = ["build"] }

[[bench]]
name = "benchmark"
harness = false
required-features = ["benchmark"]
