[package]
name = "astria-sequencer"
version = "0.2.0"
edition = "2021"
rust-version = "1.70.0"

[dependencies]
proto = { package = "astria-proto", path = "../astria-proto" }
astria-sequencer-validation = { path = "../astria-sequencer-validation" }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry" }

anyhow = "1"
matchit = "0.7.2"
penumbra-storage = { git = "https://github.com/penumbra-zone/penumbra.git", tag = "v0.56.0" }
penumbra-tower-trace = { git = "https://github.com/penumbra-zone/penumbra.git", tag = "v0.56.0" }
tower = "0.4"
tower-abci = "0.8.0"
tower-actor = "0.1.0"

async-trait = { workspace = true }
borsh = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true, features = ["derive"] }
ed25519-consensus = { workspace = true }
futures = { workspace = true }
hex = { workspace = true, features = ["serde"] }
prost = { workspace = true }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
tendermint-proto = { workspace = true }
tendermint = { workspace = true }
tokio = { workspace = true, features = ["rt", "tracing"] }
tracing = { workspace = true }
