# Log level for the sequencer
ASTRIA_SEQUENCER_LOG="astria_composer=info"

# Socket address to listen for ABCI requests from cometbft.
# This address corresponds to the `--proxy_app "tcp://<ASTRIA_SEQUENCER_LISTEN_ADDR>"`,
# where `tcp://127.0.0.1:26658` is comebft's default.
ASTRIA_SEQUENCER_LISTEN_ADDR="127.0.0.1:26658"

# Path to rocksdb
ASTRIA_SEQUENCER_DATA_DIR="../"