[package]
name = "astria-conductor"
version = "0.7.0"
edition = "2021"
rust-version = "1.70.0"

[dependencies]
async-trait = "0.1.73"
tryhard = "0.5.1"

base64 = { workspace = true }
color-eyre = { workspace = true }
deadpool = { version = "0.10.0", default-features = false, features = [
  "managed",
] }
ed25519-consensus = { workspace = true }
ethers = {version = "2.0", features = ["optimism", "ws"] }
figment = { workspace = true, features = ["env"] }
futures = { workspace = true }
hex = { workspace = true }
humantime = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
tendermint = { workspace = true }
tendermint-proto = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal"] }
tokio-util = { workspace = true, features = ["rt"] }
tonic = { workspace = true }
tracing = { workspace = true }

celestia_client = { package = "astria-celestia-client", path = "../astria-celestia-client" }
astria-sequencer-types = { path = "../astria-sequencer-types" }
optimism = { package = "astria-optimism", path = "../astria-optimism" }
proto = { package = "astria-proto", path = "../astria-proto", features = [
  "client",
] }
sequencer-client = { package = "astria-sequencer-client", path = "../astria-sequencer-client", features = [
  "websocket",
] }
sequencer-validation = { package = "astria-sequencer-validation", path = "../astria-sequencer-validation" }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry" }

[dev-dependencies]
once_cell = { workspace = true }
figment = { workspace = true, features = ["test"] }
regex = { workspace = true }

proto = { package = "astria-proto", path = "../astria-proto", features = [
  "server",
] }
tokio-stream = { version = "0.1.14", features = ["net"] }
