[package]
name = "astria-conductor"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.68"
is-terminal = "0.4.7"

bech32 = { workspace = true }
clap = { workspace = true, features = ["derive"] }
color-eyre = { workspace = true }
ed25519-dalek = { workspace = true }
figment = { workspace = true, features = ["toml", "env"] }
futures = { workspace = true }
hex = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
serde = { workspace = true }
serde_json = { workspace = true }
tendermint = { workspace = true }
tendermint-proto = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal"] }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["ansi", "json"] }

astria-proto = { path = "../astria-proto" }
astria-gossipnet = { path = "../astria-gossipnet" }
astria-rs-cnc = { path = "../astria-rs-cnc" }
astria-sequencer-relayer = { path = "../astria-sequencer-relayer" }

[dev-dependencies]
astria-conductor-test = { path = "../astria-conductor-test" }
once_cell = { workspace = true }
sha2 = { workspace = true }
