[package]
name = "astria-conductor"
version = "0.1.0"
edition = "2021"

[dependencies]
bech32 = "0.9"
clap = { version = "4.1.9", features = ["derive"] }
color-eyre = "0.6.2"
ed25519-dalek = "1.0"
figment = { version = "0.10.8", features = ["toml", "env"] }
flexi_logger = "0.24.2"
futures = "0.3"
hex = "0.4"
log = "0.4.17"
prost-types = "0.11.8"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls"] }
serde = "1.0.152"
serde_json = "1.0"
thiserror = "1.0.38"
tendermint = "0.30"
tendermint-proto = "0.30.0"
tokio = { version = "1.28", features = ["macros", "rt-multi-thread", "signal"] }
tonic = "0.8.3"
tracing = "0.1.37"
tracing-subscriber = "0.3.16"

astria-proto = { path = "../astria-proto" }
astria-gossipnet = { path = "../astria-gossipnet" }
astria-rs-cnc = { path = "../astria-rs-cnc" }
astria-sequencer-relayer = { path = "../astria-sequencer-relayer" }

[dev-dependencies]
astria-conductor-test = { path = "../astria-conductor-test" }
