# Log Level
ASTRIA_CONDUCTOR_LOG="astria_conductor=info"

# The bearer token to retrieve sequencer blocks as blobs from Celestia.
# The token is obtained by running `celestia bridge auth <permissions>`
# on the host running the celestia node.
ASTRIA_CONDUCTOR_CELESTIA_BEARER_TOKEN="<JWT Bearer token>"

# Data Availability service url (Celestia node in this case)
# This url is used to read astria blocks from the Data Availability layer
ASTRIA_CONDUCTOR_CELESTIA_NODE_URL="http://127.0.0.1:26659"

# The chain id of the chain that is being read from the astria-sequencer or the
# Data Availability layer
ASTRIA_CONDUCTOR_CHAIN_ID="astriachain"

# Execution RPC URL
ASTRIA_CONDUCTOR_EXECUTION_RPC_URL="http://127.0.0.1:50051"

# Set the origin where blocks are pulled from and sent to the execution layer
# Setting options:
# - "SoftOnly" -> blocks are only pulled from the sequencer
# - "FirmOnly" -> blocks are only pulled from DA
# - "SoftAndFirm" -> blocks are pulled from both the sequencer and DA
ASTRIA_CONDUCTOR_EXECUTION_COMMIT_LEVEL="SoftAndFirm"

# The URL to a fully trusted CometBFT/Sequencer to issue cometbft RPCs. Example
# RPCs are subscribing to new blocks, fetching blocks at a given level, or
# retrieving validators.
# 127.0.0.1:26657 is the default socket address in comebft's `rpc.laddr` setting.
ASTRIA_CONDUCTOR_SEQUENCER_URL="ws://127.0.0.1:26657/websocket"

# the sequencer block height that the rollup's first block was in
ASTRIA_CONDUCTOR_INITIAL_SEQUENCER_BLOCK_HEIGHT=1

# the data availability block height that the rollup's first block was in
ASTRIA_CONDUCTOR_INITIAL_DA_BLOCK_HEIGHT=1
