# Log Level
ASTRIA_CONDUCTOR_LOG="astria_conductor=info"

# The bearer token to retrieve sequencer blocks as blobs from Celestia.
# The token is obtained by running `celestia bridge auth <permissions>`
# on the host running the celestia node.
ASTRIA_CONDUCTOR_CELESTIA_BEARER_TOKEN="<JWT Bearer token>"

# Data Availability service url (Celestia node in this case)
# This url is used to read astria blocks from the Data Availability layer
ASTRIA_CONDUCTOR_CELESTIA_NODE_URL="http://127.0.0.1:26659"

# Tendermint URL
# This url is used to talk to the astria sequencer to get validator sets
ASTRIA_CONDUCTOR_TENDERMINT_URL="http://127.0.0.1:26657"

# The chain id of the chain that is being read from the astria-sequencer or the
# Data Availability layer
ASTRIA_CONDUCTOR_CHAIN_ID="ethereum"

# Execution RPC URL
ASTRIA_CONDUCTOR_EXECUTION_RPC_URL="http://127.0.0.1:50051"

# disable block finalization
ASTRIA_CONDUCTOR_DISABLE_FINALIZATION=false

# The URL to a fully trusted CometBFT/Sequencer to subscribe to new blocks
# over websocket using cometbft's RPC.
# 127.0.0.1:26657 is the default socket address in comebft's `rpc.laddr` setting.
ASTRIA_CONDUCTOR_SEQUENCER_URL="ws://127.0.0.1:26657"
