---
{{- if .Values.secretProvider.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: auctioneer-private-key
spec:
  provider: {{ .Values.secretProvider.provider }}
  parameters:
    {{- $_ := set $ "key" .Values.config.sequencerPrivateKey.secret }}
    {{- tpl $.Values.secretProvider.parametersTemplate $ | nindent 4 }}
---
{{- end }}
