{{- if .Values.secretProvider.enabled }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: sequencer-private-key
spec:
  provider: {{ .Values.secretProvider.provider }}
  parameters:
    {{- $_ := set $ "key" .Values.config.sequencer.privateKey.secret }}
    {{- tpl $.Values.secretProvider.parametersTemplate $ | nindent 4 }}
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: faucet-private-key
spec:
  provider: {{ .Values.secretProvider.provider }}
  secretObjects:
  - secretName: faucet-private-key
    type: Opaque
    data:
    - objectName: {{ .Values.config.faucet.privateKey.secret.filename }}
      key: {{ .Values.config.faucet.privateKey.secret.key }}
  parameters:
    {{- $_ := set $ "key" .Values.config.faucet.privateKey.secret }}
    {{- tpl $.Values.secretProvider.parametersTemplate $ | nindent 4 }}
---
{{- end }}
