# Default values for sequencer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  namespaceOverride: ""
  replicaCount: 1
  useTTY: true
  dev: false

# sequencer core images
images:
  evmBridgeWithdrawer:
    repo: ghcr.io/astriaorg/evm-bridge-withdrawer
    tag: "0.1.0"
    devTag: latest

config:
  sequencerGrpcEndpoint: ""
  sequencerCometbftEndpoint: ""
  sequencerChainId: ""
  sequencerAddressPrefix: "astria"
  sequencerBridgeAddress: ""
  feeAssetDenom: ""
  minExpectedFeeAssetBalance: "1000000"
  rollupAssetDenom: ""
  evmContractAddress: "0x"
  evmRpcEndpoint: ""
  sequencerPrivateKey:
    devContent: ""
    secret:
      filename: "key.hex"
      resourceName: "projects/$PROJECT_ID/secrets/celestiaPrivateKey/versions/latest"
ports:
  healthAPI: 2450
  metrics: 9000

metrics:
  enabled: false

otel:
  enabled: false
  serviceName: "astria-evm-withdrawer"
  endpoint:
  tracesEndpoint:
  tracesCompression: gzip
  tracesTimeout: 10
  otlpHeaders:
  traceHeaders:

serviceMonitor:
  enabled: false
  port: 26660
  additionalLabels:
    release: kube-prometheus-stack

# When deploying in a production environment should use a secret provider
# This is configured for use with GCP, need to set own resource names
# and keys
secretProvider:
  enabled: false
  provider: gcp
  # May need to update this template to match the secret provider
  # it will be passed an object containing:
  # {
  #   key: {
  #     resourceName: <resourceName>,
  #     filename: <filename>,
  #     key: <key>
  #   }
  # }
  #
  # Can update set the source of each chain key at chain.<chain>.key.secret to
  # match the secret provider's requirements. The default works for GCP.
  # The secret file must be mapped to the <key.filename>
  parametersTemplate: |-
    secrets: |
      - resourceName: {{ .key.resourceName }}
        fileName: "{{ .key.filename }}"
