apiVersion: v1
kind: ConfigMap
metadata:
  name: {{tpl .Values.config.rollupName . }}-evm-faucet-env
  namespace: {{ include "evmFaucet.namespace" .  }}
data:
  ETH_FAUCET_PROXYCOUNT: "{{ .Values.config.proxyCount }}"
  ETH_FAUCET_PORT: "{{ .Values.ports.faucet }}"
  ETH_FAUCET_EVM_PROVIDER_URL: "{{ tpl .Values.config.providerUrl . }}"
  ETH_FAUCET_AMOUNT: "{{ .Values.config.amount }}"
  {{- if not .Values.secretProvider.enabled }}
  ETH_FAUCET_EVM_PRIVATE_KEY: "{{ .Values.config.privateKey.devContent }}"
  {{- end }}
---
