[package]
name = "astria-composer"
version = "0.2.4"
edition = "2021"
rust-version = "1.70.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = { package = "astria-config", path = "../astria-config" }
proto = { package = "astria-proto", path = "../astria-proto" }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry" }

ethers = { version = "2.0.7", features = ["ws"] }
secrecy = { version = "0.8", features = ["serde"] }

async-trait = { workspace = true }
axum = { workspace = true }
backon = { workspace = true }
color-eyre = { workspace = true }
ed25519-consensus = { workspace = true }
futures = { workspace = true }
humantime = { workspace = true }
hyper = { workspace = true }
hex = { workspace = true }
once_cell = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
rand = { workspace = true }
regex = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tendermint = { workspace = true }
tokio = { workspace = true, features = [
  "macros",
  "rt-multi-thread",
  "sync",
  "time",
] }
tokio-util = { workspace = true, features = ["rt"] }
tracing = { workspace = true, features = ["attributes"] }
tryhard = { workspace = true }

[dependencies.sequencer-client]
package = "astria-sequencer-client"
path = "../astria-sequencer-client"
features = ["http"]

[dev-dependencies]
config = { package = "astria-config", path = "../astria-config", features = [
  "tests",
] }
proto = { package = "astria-proto", path = "../astria-proto" }
test_utils = { package = "astria-test-utils", path = "../astria-test-utils", features = [
  "geth",
] }
tokio-test = { workspace = true }

tendermint-rpc = { workspace = true }
wiremock = { workspace = true }
