global:
  namespace: "astria-dev-cluster"
  replicaCount: 1

config:
  proxyCount: 1
  sequencerRpcUrl: http://node0-sequencer-rpc-service.astria-dev-cluster.svc.cluster.local:26657
  # This private key will be replaced with `sequencerPrivateKey` when enabled
  # For testing purposes only, do not use except with local development cluster,
  # it corresponds with the following account:
  #     address: 00d75b270542084a54fcf0d0f6eab0402982d156
  #     pubKey: db617d4ec61726efc4d993488931b37f7774bf04ad916b8f974d33c9241ee762
  fundingPrivateKey: 934ab488f9e1900f6a08f50605ce1409ca9d95ebdc400dafc2e8a4306419fd52
  # The amount of token to give per request
  amount: 1800

images:
  sequencerFaucet: "ghcr.io/astriaorg/seq-faucet:0.4.0"

# When deploying in a production environment should use a secret provider
# This is configured for use with GCP, need to set own resource names
# and keys
secretProvider:
  enabled: false
  provider: gcp
  secrets:
    # Used in place of config.fundingPrivateKey value when provider enabled
    sequencerPrivateKey:
      filename: sequencerPrivateKey.txt
      resourceName: "projects/$PROJECT_ID/secrets/sequencerPrivateKey/versions/latest"
      key: token

ports:
  faucet: 8080

ingress:
  enabled: true
  # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
  # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
  # ingressClassName: nginx
  # Values can be templated
  className: nginx
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  labels: {}
  path: /
  pathType: Prefix
  hosts:
    - sequencer-faucet.localdev.me
  service:
    name: sequencer-faucet-service
    port:
      name: seq-faucet-svc
  ## Extra paths to prepend to every host configuration. This is useful when working with annotation based services.
  extraPaths: {}
  # - path: /*
  #   backend:
  #     serviceName: ssl-redirect
  #     servicePort: use-annotation
  ## Or for k8s > 1.19
  # - path: /*
  #   pathType: Prefix
  #   backend:
  #     service:
  #       name: ssl-redirect
  #       port:
  #         name: use-annotation
  tls: {}
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
