PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
RPC_URL="http://executor.astria.localdev.me/"
BASE_CHAIN_ASSET_PRECISION=9
BASE_CHAIN_BRIDGE_ADDRESS="astria13ahqz4pjqfmynk9ylrqv4fwe4957x2p0h5782u"
BASE_CHAIN_ASSET_DENOMINATION="nria"
