[package]
name = "astria-sequencer-relayer"
version = "0.5.1"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.70"

[dependencies]
base64-serde = "0.7.0"
dirs = "5.0"
http = "0.2.9"
serde_path_to_error = "0.1.13"
sha2 = "0.10"
zeroize = { version = "1.6.0", features = ["zeroize_derive"] }

axum = { workspace = true }
backon = { workspace = true }
base64 = { workspace = true }
figment = { workspace = true, features = ["env"] }
ed25519-consensus = { workspace = true }
eyre = { workspace = true }
futures = { workspace = true }
hex = { workspace = true, features = ["serde"] }
humantime = { workspace = true }
hyper = { workspace = true }
prost = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tendermint = { workspace = true, features = ["rust-crypto"] }
tendermint-config = { workspace = true }
tendermint-rpc = { workspace = true, features = ["http-client"] }
tracing = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }

config = { package = "astria-config", path = "../astria-config", features = [
  "attribute",
] }
astria-celestia-jsonrpc-client = { path = "../astria-celestia-jsonrpc-client" }
astria-sequencer-validation = { path = "../astria-sequencer-validation" }
proto = { package = "astria-proto", path = "../astria-proto" }
sequencer-types = { package = "astria-sequencer-types", path = "../astria-sequencer-types" }
telemetry = { package = "astria-telemetry", path = "../astria-telemetry" }

[dev-dependencies]
astria-celestia-jsonrpc-client = { path = "../astria-celestia-jsonrpc-client", features = [
  "server",
] }
rand_core = { version = "0.6", features = ["getrandom"] }

figment = { workspace = true, features = ["test"] }
jsonrpsee = { workspace = true, features = ["server"] }
once_cell = { workspace = true }
regex = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
wiremock = { workspace = true }
config = { package = "astria-config", path = "../astria-config", features = [
  "config-tests",
] }
