# Address of sequencer/cometbft/tendermint to request new blocks.
# 127.0.0.1:26657 is the default socket address at which cometbft
# serves RPCs.
ASTRIA_SEQUENCER_RELAYER_SEQUENCER_ENDPOINT="http://127.0.0.1:26657"

# Address at which celestia node serves RPCs. While :26657 is the default port
# that celestia node binds it clashes with cometbft.
ASTRIA_SEQUENCER_RELAYER_CELESTIA_ENDPOINT="http://127.0.0.1:26659"

# The bearer token to submit sequencer blocks as blobs to Celestia.
# The token is obtained by running `celestia bridge auth <permissions>`
# on the host running the celestia node.
ASTRIA_SEQUENCER_RELAYER_CELESTIA_BEARER_TOKEN="<JWT Bearer token>"

# The duration in milliseconds that sequencer-relayer sleeps before
# requesting a new block from sequencer.
ASTRIA_SEQUENCER_RELAYER_BLOCK_TIME=1000

# Set to true to only relay blocks proposed by the validator key in `ASTRIA_SEQUENCER_RELAYER_VALIDATOR_KEY_FILE`.
ASTRIA_SEQUENCER_RELAYER_RELAY_ONLY_VALIDATOR_KEY_BLOCKS=false

# The path to the file storing the cometbft validator key.
# Used to sign data before submitting it to celestia.
# Ignored if `ASTRIA_SEQUENCER_RELAYER_DISABLE_RELAY_ALL=false`.
ASTRIA_SEQUENCER_RELAYER_VALIDATOR_KEY_FILE=.cometbft/config/priv_validator_key.json

# The port that sequencer relayer will bind on 127.0.0.1 to serve RPCs.
ASTRIA_SEQUENCER_RELAYER_RPC_PORT=2450

# A list of filter directives of the form target[span{field=value}]=level.
ASTRIA_SEQUENCER_RELAYER_LOG=astria_sequencer_relayer=info
