# Configuration options of Astria Account Monitor.

# Log level. One of debug, info, warn, or error
ASTRIA_ACCOUNT_MONITOR_LOG="astria_account_monitor=info"

# If true disables writing to the opentelemetry OTLP endpoint.
ASTRIA_ACCOUNT_MONITOR_NO_OTEL=false

# If true disables tty detection and forces writing telemetry to stdout.
# If false span data is written to stdout only if it is connected to a tty.
ASTRIA_ACCOUNT_MONITOR_FORCE_STDOUT=false

# If set to any non-empty value removes ANSI escape characters from the pretty
# printed output.
NO_COLOR=

# Address of the ABCI server for the sequencer chain  
ASTRIA_ACCOUNT_MONITOR_SEQUENCER_ABCI_ENDPOINT="http://127.0.0.1:26657"

# Chain ID of the sequencer chain which transactions are submitted to.
ASTRIA_ACCOUNT_MONITOR_SEQUENCER_CHAIN_ID="astria-dev-1"

# The sequencer asset for balance monitoring.
ASTRIA_ACCOUNT_MONITOR_SEQUENCER_ASSET="nria"

# A comma-separated list of Astria addresses to monitor.
ASTRIA_ACCOUNT_MONITOR_SEQUENCER_ACCOUNTS="astria1rsxyjrcm255ds9euthjx6yc3vrjt9sxrm9cfgm,astria1xnlvg0rle2u6auane79t4p27g8hxnj36ja960z"

# The duration in milliseconds that monitor waits between query requests.
ASTRIA_ACCOUNT_MONITOR_QUERY_INTERVAL_MS=2000

# The address at which the prometheus HTTP listener will bind if enabled.
ASTRIA_ACCOUNT_MONITOR_METRICS_HTTP_LISTENER_ADDR="127.0.0.1:9000"

# The OTEL specific config options follow the OpenTelemetry Protocol Exporter v1
# specification as defined here:
# https://github.com/open-telemetry/opentelemetry-specification/blob/e94af89e3d0c01de30127a0f423e912f6cda7bed/specification/protocol/exporter.md

# Sets the general OTLP endpoint.
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
# Sets the OTLP endpoint for trace data. This takes precedence over `OTEL_EXPORTER_OTLP_ENDPOINT` if set.
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://localhost:4317/v1/traces"
# The duration in seconds that the OTEL exporter will wait for each batch export.
OTEL_EXPORTER_OTLP_TRACES_TIMEOUT=10
# The compression format to use for exporting. Only `"gzip"` is supported.
# Don't set the env var if no compression is required.
OTEL_EXPORTER_OTLP_TRACES_COMPRESSION="gzip"
# The HTTP headers that will be set when sending gRPC requests.
OTEL_EXPORTER_OTLP_HEADERS="key1=value1,key2=value2"
# The HTTP headers that will be set when sending gRPC requests. This takes precedence over `OTEL_EXPORTER_OTLP_HEADERS` if set.
OTEL_EXPORTER_OTLP_TRACE_HEADERS="key1=value1,key2=value2"
