# A list of filter directives of the form target[span{field=value}]=level.
ASTRIA_BRIDGE_SIGNER_LOG=astria_bridge_signer=info

# The address of the grpc endpoint.
ASTRIA_BRIDGE_SIGNER_GRPC_ENDPOINT="127.0.0.1:9001"

# The path to the json-encoded frost secret key package.
ASTRIA_BRIDGE_SIGNER_FROST_SECRET_KEY_PACKAGE_PATH=""

# Rollup EVM node RPC endpoint.
ASTRIA_BRIDGE_SIGNER_ROLLUP_RPC_ENDPOINT="http://127.0.0.1:8545"

# Disables writing trace data to an opentelemetry endpoint.
ASTRIA_BRIDGE_SIGNER_NO_OTEL=true

# If true disables tty detection and forces writing telemetry to stdout.
# If false span data is written to stdout only if it is connected to a tty.
ASTRIA_BRIDGE_SIGNER_FORCE_STDOUT=false

# If true uses an exceedingly pretty human readable format to write to stdout.
# If false uses JSON formatted OTEL traces.
# This does nothing unless stdout is connected to a tty or
# `ASTRIA_BRIDGE_SIGNER_FORCE_STDOUT` is set to `true`.
ASTRIA_BRIDGE_SIGNER_PRETTY_PRINT=false

# Set to true to disable prometheus metrics.
ASTRIA_BRIDGE_SIGNER_NO_METRICS=true

# The address at which the prometheus HTTP listener will bind if enabled.
ASTRIA_BRIDGE_SIGNER_METRICS_HTTP_LISTENER_ADDR="127.0.0.1:9000"
