name: Docker

# Trigger on pushes to master branch, new semantic version tags, and pull request updates
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+--[a-z]+**"
      - "v[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+--[a-z]+**"
      - "v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+--[a-z]+**"
      - "v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+--[a-z]+**"
  # trigger on pull request updates when target is `main` branch
  pull_request:
    branches:
      - "main"

jobs:
  run_checker:
    uses: ./.github/workflows/reusable-run-checker.yml

  composer:
    needs: run_checker
    if: ${{ needs.run_checker.outputs.run_docker }}
    uses: './.github/workflows/reusable-docker-build.yml'
    with:
      package-name: composer
      target-binary: astria-composer
    secrets: inherit

  conductor:
    needs: run_checker
    if: ${{ needs.run_checker.outputs.run_docker }}
    uses: './.github/workflows/reusable-docker-build.yml'
    with:
      package-name: conductor
      target-binary: astria-conductor
    secrets: inherit

  sequencer:
    needs: run_checker
    if: ${{ needs.run_checker.outputs.run_docker }}
    uses: './.github/workflows/reusable-docker-build.yml'
    with:
      package-name: sequencer
      target-binary: astria-sequencer
    secrets: inherit

  sequencer-relayer:
    needs: run_checker
    if: ${{ needs.run_checker.outputs.run_docker }}
    uses: './.github/workflows/reusable-docker-build.yml'
    with:
      package-name: sequencer-relayer
      target-binary: astria-sequencer-relayer
    secrets: inherit

  success:
    runs-on: ubuntu-latest
    needs: [composer, conductor, sequencer, sequencer-relayer]
    if: ${{ always() && !cancelled() }}
    steps:
      - if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
      - if: ${{ !contains(needs.*.result, 'failure') }}
        run: exit 0
