name: Release
on:
  pull_request:
  merge_group:
  push:
    branches:
        - main

jobs:
  run_checker:
    uses: ./.github/workflows/reusable-run-checker.yml

  proto:
    runs-on: ubuntu-latest
    environment: BUF
    needs: run_checker
    if: github.event_name != 'merge_group' && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == 'astriaorg/astria') && needs.run_checker.outputs.run_release_proto == 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1
        with:
          version: "1.32.0"
          github_token: ${{ github.token }}
      - name: "Get Buf Branch Annotation"
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "buf_repo_ending=${{ github.event.number }}/merge" >> $GITHUB_ENV
          else
            echo "buf_repo_ending=main" >> $GITHUB_ENV
          fi
      - name: "Upload all Protos"
        uses: bufbuild/buf-push-action@v1
        with:
          draft: ${{ github.ref_name != 'main'}}
          buf_token: ${{ secrets.BUF_TOKEN }}

  charts:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: run_checker
    if: github.ref_name == 'main' && needs.run_checker.outputs.run_release_charts == 'true'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Publish to Charts Repo
        uses: cpina/github-action-push-to-another-repository@v1.7.2
        env:
          API_TOKEN_GITHUB: ${{ secrets.CHARTS_REPO_TOKEN }}
        with:
          source-directory: 'charts/'
          target-directory: 'charts/'
          target-branch: 'main'
          destination-github-username: 'astriaorg'
          destination-repository-name: 'charts'
          user-email: '${{ github.actor }}@users.noreply.github.com'
          user-name: '${{ github.actor }}'

  conductor:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'conductor'
      display-name: 'Conductor'

  composer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'composer'
      display-name: 'Composer'

  sequencer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'sequencer'
      display-name: 'Sequencer'

  sequencer-relayer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'sequencer-relayer'
      display-name: 'Sequencer Relayer'

  bridge-withdrawer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'bridge-withdrawer'
      display-name: 'EVM Bridge Withdrawer'

  cli:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'cli'
      display-name: 'CLI'

  release:
    needs: [proto, conductor, composer, sequencer, sequencer-relayer, cli, bridge-withdrawer]
    if: ${{ always() && !cancelled() }}
    uses: ./.github/workflows/reusable-success.yml
    with:
      success: ${{ !contains(needs.*.result, 'failure') }}
