name: Release
on:
  pull_request:
  push:
    branches:
        - main

jobs:
  run_checker:
    uses: ./.github/workflows/reusable-run-checker.yml

  proto:
    runs-on: ubuntu-latest
    environment: BUF
    needs: run_checker
    if: needs.run_checker.outputs.run_release_proto == 'true' && github.repository_owner == 'astriaorg'
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1
        with:
          version: "1.15.1"
          github_token: ${{ github.token }}
      - uses: bufbuild/buf-push-action@v1
        with:
          draft:  ${{ github.ref_name != 'main'}}
          input: "proto/sequencerapis"
          buf_token: ${{ secrets.BUF_TOKEN }}
      - name: "Update Execution API dependency"
        run: |
          cd proto/executionapis
          buf mod update --only buf.build/astria/astria
      - uses: bufbuild/buf-push-action@v1
        with:
          draft:  ${{ github.ref_name != 'main'}}
          input: "proto/executionapis"
          buf_token: ${{ secrets.BUF_TOKEN }}
      - uses: bufbuild/buf-push-action@v1
        with:
          draft: ${{ github.ref_name != 'main'}}
          input: "proto/composerapis"
          buf_token: ${{ secrets.BUF_TOKEN }}


  charts:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: run_checker
    if: needs.run_checker.outputs.run_release_charts == 'true'
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v3
      - name: Update all chart dependencies before packaging
        run: |
          for chart in charts/*/; do
            helm dependency update $chart
          done
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          skip_existing: true
        env:
          CR_OWNER: "astriaorg"
          CR_GIT_REPO: "dev-cluster"
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  conductor:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'conductor'
      display-name: 'Conductor'

  composer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'composer'
      display-name: 'Composer'
  
  sequencer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'sequencer'
      display-name: 'Sequencer'

  sequencer-relayer:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'sequencer-relayer'
      display-name: 'Sequencer Relayer'

  cli:
    needs: run_checker
    if: needs.run_checker.outputs.run_release_services == 'true'
    uses: ./.github/workflows/reusable-release-cargo.yml
    with:
      package-name: 'cli'
      display-name: 'CLI'

  release:
    needs: [proto, conductor, composer, sequencer, sequencer-relayer, cli]
    if: ${{ always() && !cancelled() }}
    uses: ./.github/workflows/reusable-success.yml
    with:
      success: ${{ !contains(needs.*.result, 'failure') }}
