name: Reusable Docker Build && Push Workflow

on:
  workflow_call:
    inputs:
      package-name:
        required: true
        type: string
      target-binary:
        required: true
        type: string
      git-ref:
        required: true
        type: string
    secrets:
      DOCKER_TOKEN:
        required: true
      DOCKER_USER:
        required: true
env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: buildjet-8vcpu-ubuntu-2204
    if: ${{ startsWith(inputs.git-ref, format('refs/tags/{0}-v', inputs.package-name)) || inputs.git-ref == 'refs/heads/main' || github.event_name == 'pull_request' }}
    steps:
      # Checking out the repo
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git-ref }}
      # https://github.com/docker/setup-qemu-action
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      # Generate correct tabs and labels
      - name: Docker metadata
        id: metadata
        uses: docker/metadata-action@v4
        with:
          images: ${{ format('ghcr.io/astriaorg/{0}', inputs.package-name) }}
          tags: |
            type=ref,event=pr
            type=match,pattern=refs/tags/([a-z-]+)-v(.*),group=2,enable=${{ startsWith('refs/tags/', inputs.git-ref) }},value=${{ inputs.git-ref }}
            type=sha
            # set latest tag for `main` branch
            type=raw,value=latest,enable=${{ inputs.git-ref == format('refs/heads/{0}', 'main') }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          # this gets rid of the unknown/unknown image that is created without this setting
          # https://github.com/docker/build-push-action/issues/820#issuecomment-1455687416
          provenance: false
          context: .
          file: containerfiles/Dockerfile
          build-args: |
            TARGETBINARY=${{ inputs.target-binary }}
          platforms: 'linux/amd64,linux/arm64'
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=registry,ref=${{ format('ghcr.io/astriaorg/{0}:buildcache', inputs.package-name) }}
          cache-to: type=registry,ref=${{ format('ghcr.io/astriaorg/{0}:buildcache', inputs.package-name) }},mode=max
        
